.section {
    /* margin: 5rem 5rem; */
    box-sizing: border-box;
    overflow: auto;
}

.contentBox {
    /* background: rgba(255, 255, 255, 0.5); */
}

.headers {
    font-weight: 100;
}

.section.company-title-animation {
    height: 100%;
    padding: 0;
}
.company-title-animation {
    color: #e5e5e5;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    text-align: right;
    padding: 9rem 5rem;
    box-sizing: border-box;
    height: 100%;
}

.company-title-animation h1,
.company-title-animation h2,
.company-title-animation h3 {
    margin: 0;
    display: block;
    font-weight: 400;
}
.company-title-animation h1 {
    font-size: 5rem;
    /* line-height: 5rem; */
    line-height: 4rem; /* Modified */
    animation: slide2 2s ease-in 0s 1 normal;
    -webkit-animation: slide2 2s ease-in 0s 1 normal;
}
.company-title-animation h2 {
    font-size: 4.5rem;
    /* line-height: 4.5rem;*/
    line-height: 3.5rem; /*modified */
    animation: slide2-5 2s ease-in 0s 1 normal;
    -webkit-animation: slide2-5 2s ease-in 0s 1 normal;
}
.company-title-animation h3 {
    font-size: 4rem;
    line-height: 4rem;
    animation: slide4 2s ease-in 0s 1 normal;
    -webkit-animation: slide4 2s ease-in 0s 1 normal;
}

@keyframes slide2 {
    0% {margin-right:-2rem; opacity: 0.2;}
    1000% {margin-right:0rem; opacity: 1;}
}

@keyframes slide2-5 {
    0% {margin-right:-2.5rem; opacity: 0.2;}
    1000% {margin-right:2.5rem; opacity: 1;}
}
@keyframes slide4 {
    0% {margin-right:-4rem; opacity: 0.2;}
    1000% {margin-right:4rem; opacity: 1;}
}


.about-us {
    background: rgba(255, 255, 255, 1);
    padding: 4rem;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.0.25);
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    color: #34353d;
    text-align: justify;
    font-weight: 100;
}

.second-background {
    background-image: url('../../backgrounds/second_background/taj.jpg');
    height: 25rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services {
    background: rgba(255, 255, 255, 1);
    /* For rectangles
    height: 20rem;*/
}

.testimonials {
    background: #fff;
    padding: 4rem;
    font-size: 1.5rem;
    height: 30rem;
    border: 1px solid rgba(0,0,0,.0.25);
    border-radius: 3px;
}

.testimonialBox {
    margin: 0 5rem;
    height: 100%;
    padding: 2rem;
    border: 4px double #d3d3d3;
    box-sizing: border-box;
    color: #34353d;
}

.slider {
    height: 25rem;
    overflow: hidden;
    text-align: justify;
}

.slider h2 {
    text-align: center;
    font-weight: 400;
    margin: 0;
    font-size: 28px;
}

.slider-text {
    height: 25rem;
    margin-bottom: 4rem;
    padding: 2rem;
    box-sizing: border-box;
}

.slider-text p {
    max-height: 11rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 100;
    font-size: 18px;
}

.slider-text1 {
    animation: slideHorizontal 15s linear infinite;
}

@keyframes slideHorizontal {
    0% {margin-top: -87rem;}
    5% {margin-top: -58rem;}
    33% {margin-top: -58rem;}
    38% {margin-top: -29rem;}
    66% {margin-top: -29rem;}
    71% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

.testimonial-name {
    text-align: right !important;
}

.stars {
    text-align: center;
    margin-top: 1rem;
    color: rgba(255, 123, 0);
}

.star {
    padding-right: 0.3rem;
}

.third-background {
    background-image: url('../../backgrounds/third_background/cherry_blossom.jpg');
    height: 40rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us {
    background: #222;
    padding: 4rem;
    color: #d3d3d3;
    text-align: center;
}
.company-logo {
    background-image: url('../../backgrounds/ats-full.png');
    width: 21rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.contact-us a {
    color: #d3d3d3;
    text-decoration: none;
}

.contact-us a:hover {
    text-decoration: underline;
}