.section {
    /* margin: 5rem 5rem; */
    box-sizing: border-box;
    overflow: auto;
}

.contentBox {
    /* background: rgba(255, 255, 255, 0.5); */
}

.headers {
    font-weight: 400;
}

.section.company-title-animation {
    height: 100%;
    padding: 0;
}
.company-title-animation {
    color: #e5e5e5;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    text-align: right;
    padding: 9rem 5rem;
    box-sizing: border-box;
    height: 100%;
}

.company-title-animation h2 {
    margin: 0;
    display: block;
    font-weight: 400;
}
.company-title-animation h2 {
    font-size: 4.5rem;
    /* line-height: 4.5rem;*/
    line-height: 4rem; /*modified */
    animation: slide2-5 2s ease-in 0s 1 normal;
    -webkit-animation: slide2-5 2s ease-in 0s 1 normal;
}

@keyframes slide2 {
    0% {margin-right:-2rem; opacity: 0.2;}
    1000% {margin-right:0rem; opacity: 1;}
}

@keyframes slide2-5 {
    0% {margin-right:-2.5rem; opacity: 0.2;}
    1000% {margin-right:2.5rem; opacity: 1;}
}
@keyframes slide4 {
    0% {margin-right:-4rem; opacity: 0.2;}
    1000% {margin-right:4rem; opacity: 1;}
}


.about-us {
    background: rgba(255, 255, 255, 1);
    padding: 4rem;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.0.25);
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    color: #34353d;
    text-align: justify;
    font-weight: 300;
}

@media (max-width: 600px) {
    .about-us {
        padding: 1rem;
    }
    .company-title-animation {
        padding: 7rem 1rem;
    }
}

.second-background {
    background-image: url('../../backgrounds/second_background/taj.jpg');
    height: 25rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services {
    background: rgba(255, 255, 255, 1);
    /* For rectangles
    height: 20rem;*/
}

.testimonials {
    background: #fff;
    padding: 2.5rem 4rem;
    font-size: 1.5rem;
    height: 25rem;
    border: 1px solid rgba(0,0,0,.0.25);
    border-radius: 3px;
}


.testimonialBox {
    margin: 0 5rem;
    height: 100%;
    padding: 2rem;
    border: 4px double #d3d3d3;
    box-sizing: border-box;
    color: #34353d;
}

.slider {
    height: 20rem;
    overflow: hidden;
    text-align: justify;
}

.slider h2 {
    text-align: center;
    font-weight: 400;
    margin: 0;
    font-size: 28px;
}

.slider h6 {
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: 18px;
    color: #888;
    font-style: italic;
}

.slider-text {
    height: 20rem;
    margin-bottom: 4rem;
    padding: 2rem;
    box-sizing: border-box;
}

.slider-text p {
    max-height: 11rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    font-size: 18px;
}

.slider-text1 {
    animation: slideHorizontal 15s linear infinite;
}

@media (max-width: 600px) {
    .testimonials {
        padding: 1rem;
    }
    .testimonialBox {
        margin: 0;
        padding: 1rem;
    }
    .slider-text {
        padding: 0;
    }
}

@keyframes slideHorizontal {

    0% {margin-top: 0px;}
    28% {margin-top: 0px;}
    33% {margin-top: -24rem;}
    61% {margin-top: -24rem;}
    66% {margin-top: -48rem;}
    100% {margin-top: -48rem;}
    /* 100% {margin-top: -72rem;} */
}


/*
0% {margin-top: -72rem;}
5% {margin-top: -48rem;}
33% {margin-top: -48rem;}
38% {margin-top: -24rem;}
66% {margin-top: -24rem;}
71% {margin-top: 0px;}
100% {margin-top: 0px;}
*/

.testimonial-name {
    text-align: right !important;
}

.stars {
    text-align: center;
    margin-top: 0.5rem;
    color: rgba(255, 123, 0);
}

.star {
    padding-right: 0.3rem;
}

.third-background {
    background-image: url('../../backgrounds/third_background/cherry_blossom.jpg');
    height: 40rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us {
    background: #222;
    padding: 2rem;
    color: #d3d3d3;
    text-align: center;
}

.companyDetails p {
    margin-top: 0;
    margin-bottom: 10px;
}

.company-logo {
    background-image: url('../../backgrounds/ats-full.png');
    width: 21rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.contact-us a {
    color: #d3d3d3;
    text-decoration: none;
}

.contact-us a:hover {
    text-decoration: underline;
}

.emailLink {
    color: rgb(101, 101, 255) !important;
}
.emailLink:hover {
    text-decoration: underline;
}

.socialHandlesWrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 8px 0 2px;
}

.socialHandlesWrapperBorder {
    border-right: 1px solid #d3d3d3;
}

.socialHandlesWrapper a {
    display: block;
}
.socialHandles {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.fbHandle {
    background-image: url('../../backgrounds/fb.png');
    width: 35px;
    height: 35px;
}
.instaHandle {
    background-image: url('../../backgrounds/insta.png');
    width: 45px;
    height: 45px;
    top: -5px;
}

.locationMap {
    width:"600";
    height:"450";
    border: none
}