.services-section {
    position: relative;
    padding: 0 2rem 3rem 2rem;
    overflow: hidden;
}

.services-wrapper {
    width: 100%;
    padding: 0;
}

.service-wrapper {
    width: 33.33%;
    display: inline-block;
    text-align: center;
    padding-top: 3rem;
}

@media (max-width: 800px) {
    .service-wrapper {
        width: 50%;
    }
}

.white-theme {
    color: #34353d;
    padding-top: 3rem;
    border-top: 1px solid #d3d3d3;
}

.yellow-theme {
    color:rgb(235, 209, 67)
}

.holderWrapper {
    display: inline-block;
}

.holder {
    position: relative;
    height: 8rem;
    width: 8rem;
    display: inline-block;
    color: rgb(42, 50, 62);
    /* text-shadow: 1px 1px 2px rgba(0,0,0,0.25); */
    cursor: grab;
    top: 0;
}

.rotateContainer {
    position: absolute;
    /* left: 0;
    top: 0; */
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.holder:hover>.rotateContainer {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.frontFace {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* border: 2px solid rgb(235, 209, 67); */
    /* background: rgb(235, 209, 67); */
    /* border: 10px double rgb(235, 209, 67);
    color: rgb(235, 209, 67); */
    /* border: 10px double rgb(223, 44, 88);
    color: rgb(223, 44, 88); */
    border: 10px double #d3d3d3;
    color: #d3d3d3;
    border-radius: 8rem;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 20px rgba(0,0,0,0.8); */
    line-height: calc(8rem - 20px);
    font-weight: 300;
}

.backFace {
    position: absolute;
    height: 100%;
    width: 100%;
    /* left: 0;
    top: 0; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    border: 2px solid #d3d3d3;
    border-radius: 10rem;
    box-sizing: border-box;
    background: #d3d3d3;
    /* box-shadow: 0px 10px 20px rgba(0,0,0,0.8); */
    font-size: 1.2rem;
    line-height: calc(8rem - 4px);
    color: rgb(51, 43, 43);
    font-size: 1.2rem !important;
}

.service-details {
    position: absolute;
    top: 0;
    right: -500px;
    height: 100%;
    width: 500px;
    box-sizing: border-box;
    color: #2a323e;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;

    background-image: url("../../backgrounds/texture/bedge-grunge.png");
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
}

.show {
    right: 0;
    border-left: 1px solid #d3d3d3;
}

.hide {
    right: -500px;
}

.collapse-service-details {
    position: absolute;
    height: 100%;
    width: 3rem;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 100%;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.4);
    border-right: 1px solid #d3d3d3;
    box-sizing: border-box;
    cursor: grab;
    background: rgb(255, 255, 255, 0.8);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.collapse-service-details:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.8);
}

.collapse-service-details>*{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.service-details-contentbox {
    position: absolute;
    left: 3rem;
    right: 0;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background: rgb(255, 255, 255);

    background-image: url("../../backgrounds/texture/bedge-grunge.png");
}

.service-details-contentbox h2 {
    text-align: center;
    font-weight: 400;
}

.service-details-contentbox p {
    white-space: pre-wrap;
    font-size: 1rem;
    line-height: 1.5rem;
}

.service-details-contentbox__background {
    position: absolute;
    color: rgba(0, 0, 0, 0.05);
    opacity: 0.2;
}

.flights_transforms {
    top: -20%;
    right: -5%;
    font-size: 20rem !important;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform-origin: center;
    -webkit-transform-origin: center;
}

.transport_transforms {
    bottom: 0;
    right: -10%;
    font-size: 20rem !important;
}

.hotels_transforms {
    bottom: -4%;
    right: -6%;
    font-size: 20rem !important;
}

.cruises_transforms {
    bottom: -5%;
    right: -15%;
    font-size: 20rem !important;
}

.forex_transforms {
    top: -8%;
    right: -5%;
    font-size: 25rem !important;
}

.tours_transforms {
    bottom: -15px;
    right: -8%;
    font-size: 22rem !important;
}

.service-details-contentBox__details>li {
    padding-bottom: 0.2rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.pointer {
    position: relative;
    top: 0;
    color: rgb(42, 50, 62);
    top: 0;
    vertical-align: top;
    display: inline-block;
    height: 8rem;
    line-height: 8rem;
    padding-left: 0.3rem;
    color: #d3d3d3;
    color: rgb(50, 172, 135);
}

.pointer>svg:nth-child(1) {
    font-size: 1rem;
    padding-bottom: 0.1rem;
    -webkit-animation: opacityChangeFirst 2s linear 0s infinite;
    animation: opacityChangeFirst 2s linear 0s infinite;
}

.pointer>svg:nth-child(2) {
    font-size: 1.1rem;
    padding-bottom: 0.05rem;
    -webkit-animation: opacityChangeSecond 2s linear 0s infinite;
    animation: opacityChangeSecond 2s linear 0s infinite;
}


.pointer>svg:nth-child(3) {
    font-size: 1.2rem;
    -webkit-animation: opacityChangeThird 2s linear 0s infinite;
    animation: opacityChangeThird 2s linear 0s infinite;
}

@keyframes opacityChangeFirst {
    0% {
      opacity: 0.2;
    }
    17% {
      opacity: 1;
    }
    34% {
      opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacityChangeSecond {
    0% {
        opacity: 0;
    }
    34% {
      opacity: 0.2;
    }
    51% {
      opacity: 1;
    }
    68% {
      opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacityChangeThird {
    0% {
        opacity: 0;
    }
    68% {
      opacity: 0.2;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
}